body{
    background-color: black;
}
header {
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-links, .right-links {
    flex: 1;
}
.left-links a, .right-links a {
    text-decoration: none;
    color: white;
    padding: 3rem;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    justify-content: space-evenly;
    padding: 4rem;
}
.logo {
    flex: 1;
}
.logo img {
    max-width: 500px;
    height: auto;
    align-items: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
main{
    color: white;
}
.andrew{
    grid-template-columns: 1fr 2fr;
    grid-column-start: 2/3;
    display: grid;
    padding-bottom: 4rem;
    padding: 2rem;
}
.mitch{
    grid-template-columns: 1fr 2fr;
    grid-column-start: 2/3;
    display: grid;
    padding: 2rem;
}
.andrew-about{
    padding: 2rem;
}
.mitch-about{
    padding: 1.75rem;
}
.shoots {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
.shoots div {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.shoots img {
    max-width: 100%;
    height: auto;
}
.shoots h2 {
    margin-top: 10px;
}
.shoot-one h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.shoot-two h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}